// Settings
$primary-color: #E35E2A;
$secondary-color: #393F50;
$white: #EAEAEA;

// layout
// ==============================

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-middle {
  height: 100%;
  display: flex;
  align-items: center;
}

section {
  margin-top: 5rem;
}

.section__bmargin {
  margin-bottom: 5rem;
}

.mobile__fullWidth {
  @media (max-width:639px) {
    width: 100% !important;
  }
}

footer {
  padding: 2rem 0;
  background-color: #3D7DCC;
  color: $white;
  a {
    color: $white
  }

  a:hover {
    color: $primary-color;
  }
}


// Typography
// ==============================
h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

.bold {
  font-weight: 600;
}

.text-lr-margin {
  margin-left: 2rem;
  margin-right: 2rem;
}

// UI components
// ==============================
.ui .button {
  border-radius: 12%/50%;
  padding: 1rem 5rem;
  text-transform: uppercase;
}

.ui.button.button--primary-gradient {
  background-image: linear-gradient(135deg, #fa8d0c 0%, #f45405 100%);
  color: #FFF;
  font-weight: 600;
}

// Hero component
// ==============================

.hero {
  margin: 5rem 0;
}

.hero--form {
  padding: 3rem 0;
}


// Testimonial component
// ==============================
.testimonial {
  padding: 5rem 0;
}
.testimonial p {
  font-style: italic;
}

.testimonial--copy {
  font-size: 1.4em;
}

// benefits component
// ==============================
.benefits .row {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

// Announcement Bar components
// ==============================

.announcement-bar {
  padding: 2rem 0;
}


// Card component
// ==============================
.ui .card {
  width: 100%;
  @media (min-width: 640px) {
    padding: 2rem;
  }
}

.ui .card {
  .form {
    margin: 0 2rem;
  }
}

.ui.card.card--elevate3 {
  box-shadow: 5px 12px 26px rgba(0,0,0,0.30), 0 10px 12px rgba(0,0,0,0.22);
}

// Referral component
// ==============================
.ui.grid.referral--grid {
  margin-top: 3rem;

  .referral--grid--copy {
    margin-top: 2rem;
  }
}

// Product Table component
// ==============================
.product-table {
  .ui.table {
    max-width: 800px;
  }
}

// Remember component
// ==============================
.remember {
  h3 {
    margin-bottom: 3rem;
  }

  h2 {
    color: #888;
  }

  p {
    color: #555;
  }
}
